* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
}
.fila {
  padding: 0 50px 50px 50px;
  text-align: center;
  display: flex;
}
.card {
  width: 400px;
  height: 550px;
  background: #dad8d8;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  box-shadow: rgb(203, 212, 212) 0px 0px 20px;
}
.card1__imagen {
  height: 80%;
  overflow: hidden;
  position: relative;
}
.btn{
position: absolute;
top: 40%;
left: 30%;
background-color:rgba(126, 228, 188, 0.5);
border:3px solid white;
color:#fff;
font-weight: 800;
padding:15px 30px;
}
.card2__imagen {
 
   height: 50%;
  overflow: hidden;
  position: relative;
  padding: 20px;
  opacity: 0.5;
}

.cards__precio {
  color: #82ccb4;

  cursor: pointer;
  display: inline-block;
}
.card1__descripcion {
  font-family: "Lato", sans-serif;
  background: #fcfffc;
  padding: 20px;
  position: relative;
  height: 20%;
  /* display: flex; */
  text-align: left;
}
.card1__descripcion h2 {
 display: inline-block;
 padding:10px 120px 10px 0px;
}
span{
  font-size: 30px;
  font-weight: 800;
 }

p{
  font-size: 18px;
  color: #b8b8b8;
}
.card2__descripcion {
  height: 50%; 
  font-family: "Lato", sans-serif;
  background: #fcfffc;
  padding: 24px;
  position: relative;
  text-align: left;
 }
 .card2__descripcion h2 {
  display: inline-block;
  padding:10px 110px 10px 0px;
 }